.description-image-container {
  position: relative;
}

.descriptions {
  position: absolute;
  top: 0;
  height: 100%;
  background: black;
  width: 100%;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  background: linear-gradient(
    45deg
    , #054b4ca8, rgb(0 0 0 / 81%) 100%);
  width: 100%;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
  padding: 15px;
  font-weight: bold;
}

.visible {
  visibility: visible !important;
  position: absolute;
  top: 0;
  height: 100%;
  background: linear-gradient(
    45deg
    , #054b4ca8, rgb(0 0 0 / 81%) 100%);
  width: 100%;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
  padding: 15px;
  font-weight: bold;
}

.card {
  margin: 10px;
  box-shadow: 6px 7px 16px 5px #00000091;
}


